@model WebApplication2.Models.Carriage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Carriage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Train.LineNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Train.LineNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarriageNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarriageNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarriageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
